#toc_container {
  border: 1px solid black;
  border-radius: 16px;
  width: max-content;
  max-width: 100%;
  padding: 8px 12px;
  margin-bottom: 24px;
}

#toc_container li {
  list-style: none;
}

#toc_container li a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
}

#toc_container .toc_title {
  font-size: 1.2rem;
  font-weight: 600;
}
